.header{
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.nav{
     display: flex;
     justify-content: end;
}

.nav-text{
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding-inline:20px;
}
.header-title{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: large;
}